<div class="container">
    <div class="row">
      <div class="column left">
        <span class="dot" style="background:#ED594A;" (click)="close()"></span>
        <span class="dot" style="background:#FDD800;"></span>
        <span class="dot" style="background:#5AC05A;"></span>
      </div>
      <div class="column middle">
        <input type="text" value="http://www.w3schools.com">
      </div>
      <div class="column right">
        <div style="float:right">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>

    <div class="content">
      <h3>Componente do Usuário</h3>
      <input type="text" class="form-control" placeholder="Hello" (change)="change($event.target.value)">
    </div>
  </div>
